@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.inline{
  display: inline-block;
  margin: 10px;
}

.searchBar{
  position: absolute;
    top: 104px;
    left: 8px;
    width: 340px;
    height: 32px;
    background: transparent;
    border: none;
    border-bottom: 1px solid grey;
    color:white;
}
.search{
  position:absolute;
  top:104px;
  right:16px;
  color:grey;
  cursor: pointer;
}
.searchBar:focus{
  border:none !important;
}
.game-list{
  position: absolute;
  top: 172px;
}
 .cover{
  width: 160px;
  height: 160px;
  position: absolute;
  margin: 0;

}
.back{
  background-color: rgba(62, 63, 63, 0.5)
}
@media (min-width:1200px) {
  .searchBar{
    width:730px;
    left:30%;
  }
  .search{
    right:32%;
  }
  .game-list{
    left:20%;
  }
}
