.header{
  height: 80px;
  background: #212121;
  font-family: 'Source Sans Pro', sans-serif;
  color:white;
  position:fixed;
  top:0;
  width:100%;
  font-size:24px;
  text-align:center;
  letter-spacing: 2px;
  z-index:1;

}
.contain{
  position: relative;
  top:80px;
  margin-top: 24px;
}
.contain .add{
  position: relative;
  display: inline-block;
  width:40%;
  height: 128px;
  text-align: center;
  vertical-align: top;
  margin-left: 6%;
}

.add h5{
  color:white;
  font-family: 'Titillium Web', sans-serif;
  font-size: 12px;
  font-weight: lighter;
  margin-top:0px;
}

.add-circle{
  color: #FD2249;
  font-size: 46px;
  margin-top:5px;
}
.menu{
  position: fixed;
  bottom:0;
  height: 56px;
  background: #212121;
  width: 100%;
}
.nav-bar{
  color:rgba(255, 255, 255, 0.64);
  vertical-align: middle;

}
#active{
  padding-top:5px;

}
#active .nav-bar{
  color:white;
}
.icons p{
  margin:0;
  color:white;
  font-family: 'Titillium Web', sans-serif;
  font-size: 12px;
}
.icons{
  vertical-align: top;
  padding-top:15px;
  width: 24%;
  text-align: center;
  display: inline-block;
}
