<div *ngIf="!addGroup">
<div class="header">
  <h3> Groups </h3>
</div>
<div class="contain">
  <div  *ngFor="let group of userGroups" class="add" [attr.data-value] ="group._id">
    <a [routerLink]="['/group', group._id]">
    <img [src] ="group.groupImage" height="93px" width='156'>
  </a>
    <h5>{{group.groupname}}</h5>
  </div>
  <div class="add">
    <p (click)="addNewGroup()">
    <i class="material-icons add-circle">add_circle</i>

  </p>
  </div>

</div>
</div>
<div *ngIf="addGroup">
<app-group-form (onSave)="newGroupSaved($event)"></app-group-form>
</div>
<div class="menu">
<div class="icons" >
  <a [routerLink] ="['/home']">
  <i class="material-icons nav-bar">home</i>
</a>
</div>
<div class="icons">
  <a [routerLink] ="['/browse']">
  <i class="material-icons nav-bar">explore</i>
</a>
</div>
<div class="icons">
    <a [routerLink] ="['/contact']">
  <i class="material-icons nav-bar">chat_bubble_outline</i>
</a>
</div>
<div class="icons" id="active">
  <a *ngIf="loggedUser" [routerLink]="['/profile', loggedUser._id]">
  <i class="material-icons nav-bar">perm_identity</i>
  <p>Profile</p>
</a>
</div>

</div>
