.inline{
  display: inline-block;
  margin: 10px;
}
.bottom{
  margin-top:16px;
}
.container{
  position: absolute;
  bottom:208px;
}
.next{
  font-size:30px;
  position: fixed;
  top:33px;
  right: 26px;
}
.header{
  height: 80px;
  background: #212121;
  font-family: 'Source Sans Pro', sans-serif;
  color:white;
  position:fixed;
  top:0;
  width:100%;
  font-size:24px;
  text-align:center;
  letter-spacing: 2px;
  z-index: 1;
}
.games{
  position: absolute;
  top: 172px;
}
.cover{
 width: 160px;
 height: 160px;
 position: absolute;
 margin: 0;

}
.back{
 background-color: rgba(62, 63, 63, 0.5)
}
@media (min-width: 1200px){
  .games{
    left:30%;
    max-width: 800px;
  }
}
