<div class="header" >
  <h3> New User</h3>
</div>
<form class="signup-form">

  <input type="text" [(ngModel)]="formInfo.username" name="username" class="signup" placeholder="Set a user name"/>

  <input type="email" [(ngModel)]="formInfo.email" name="email" class="signup" placeholder="Set your mail"/>

  <input type="password" [(ngModel)]="formInfo.password" name="password" class="signup" placeholder="Set your password"/>

  <input type="password" name="" value="" class="signup" placeholder="Confirm your password">

  <button (click)="signup()" class="sign-up-butt"> SIGN UP </button>
</form>
